body
{
    background-color:white;
    /* opacity: 0.3; */
    min-height: 250vh;
    /* height: max-content; */
    margin: 0;
    padding: 0;
    position: relative;
    /* overflow-x: hidden; */
}
body
{
    width:100vw;
    height: max-content;
    /* padding: 10px; */
    box-sizing: border-box;
}
/* content
{
    padding: 10px 0;
    box-sizing: border-box;
} */
a:hover
{
    color:white !important;
    text-decoration:none !important;
}
#web {
    width: 100%;
    height: 100vh;
}
header {
    width: 100%;
    z-index: 9999;
}



content {
        /* width: 100vw;
        height: 100vh; */
    margin-top: 130px;
    display: block;
}


/* content .tesst {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    height: 300px;
    background: linear-gradient(red, orange, yellow);
} */
p
{
    margin: 0;
}
a
{
    text-decoration: none;
}
header
{
    position: fixed;
    top: 0;
    left: unset;
    width: 100vw;
    flex-direction: column;
    display: flex;
    justify-content: center;
    background-color: #000;
}
.header
{
width: 100vw;
/* position: relative; */
}
.container_logo_brand
{
    display: flex;
    /* justify-content: center; */
    background-color:black;

}
.menu_btn
{
    position: absolute;
    display: none;
    height: max-content;
    width: max-content;
    left: 10px; 
    margin: 10px;
    cursor: pointer;
    box-sizing: border-box;
}
.menu_btn::after
{
    content: ' ';
    width: 100%;
    height: 1px;
    display: block;
    background-color: #fff;
    transition: .7s ease;
}
.menu_btn::before
{
    position: absolute;
    content: ' ';
    width: 100%;
    height: 1px;
    display: block;
    background-color: #fff;
    transition: .7s ease;
    bottom: -1px;
}
/* @import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Permanent+Marker&family=Teko:wght@600&display=swap'); */
.logo_brand{
    text-decoration: none;
    color: #fff;
    font-size: 45px;
    /* width: 500px;
    height: 150px;
    object-fit: cover; */
    /* font-family: 'Inspiration', cursive; */
    font-family: 'Permanent Marker', cursive;
    /* font-family: 'Teko', sans-serif; */
    font-weight: bold;
    font-style: italic;
    margin: 20px 0;
    width: 100vw;
    text-align: center;
}

.list_menu
{
    display: flex;
    justify-content: space-evenly;
}
.list_menu a
{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-family: monospace;
    font-weight: bolder;
    font-style: italic; 
    font-size: 18px;
}
.item_menu.no_list::after
{
    content: ' ';
    width: 0%;
    height: 1px;
    display: block;
    background-color: #fff;
    transition: .7s ease;
}
.item_menu.no_list:hover::after
{
    width: 100%;
}
 .item_menu
{
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
/*
.item_menu.have_list::after
{
    content: ' ';
    width: 0%;
    height: 1px;
    display: block;
    background-color: #000;
    transition: .7s ease;
    z-index: 3;
    
}
.item_menu.have_list:hover 
{
    background-color: #fff;

}
.item_menu.have_list:hover a
{
    color: #000 !important;
}

.item_menu.have_list:hover::after
{
    width: 100%;
} */
/* .list_menu a::after
{
    content: '';
    width: 0;
    height: 2px;
    display: block;
    background-color: #fff;
    transition: .7s ease;
    z-index: 3;
} */
/* .list_menu a:hover::after
{
    width:px;
    height:100vh ;

} */
/* .item_menu a
{
    width: max-content;
    text-align: center;
} */
.item_menu.have_list.open
{
    background-color: #fff;
}
.item_menu.have_list.open a
{
    color: #000 !important;
}
.content_menuItem.is-active
{
    /* display: block; */
    transform: translateX(0),scale(1);
    transform: scaleX(1);
    height: max-content;
    width: max-content;
}

.content_menuItem.is-active .list_dropdown 
{
    width:100vw;
    height: max-content;
}

@media (max-width : 980px) {

    /* .content_menuItem.is-active .list_dropdown .item_is-active
    {
        height: 100vh !important;
        opacity: 1;
        transform:scale(1);
        position: fixed;
        top: 0;
        bottom: 0;
    } */
    .content_menuItem.is-active .list_dropdown.list_Extinct_Animals {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    content 
    {
        margin-top: 35.333px !important;
    }
    .content_menuItem.is-active 
    {
        position: fixed !important;
        top: 0 !important;
        /* height: 100vh; */
    }
    .list_menu.mode-mobile
{
    position: fixed;
    top: 0 ;
    width: 100vw;
    height: 100vh;
    transform: translate(0);
    background: linear-gradient(125deg,rgb(10,243,251),blue);
    transition-property:transform ;
    transition-delay: .15s;
    transition-duration: .65s;
    transition-timing-function: ease-in-out;
    z-index: -1;
}
.menu_btn.is_active p
{
    color: transparent;
}
    .container_logo_brand
    {
        z-index: 0;
    }
    .list_menu a
    {

        opacity: 0;

        transform: translateX(10%);
        /* visibility: hidden; */
        
    }
    .list_menu a text
    {
        visibility: visible;
    }
    .logo_brand
    {
        /* text-align: right;
        padding-right: 10px; */
        font-size: 18px;
        /* z-index: -1; */
        margin: 5px 0;
        
        /* display: none; */
    }
    .menu_btn
    {
        display: block;
        color: #fff;
    
    }
    .logo_gif
    {
        display: block !important;
        
    }
    .list_menu
    {
        position: fixed;
        top: 0 ;
        left: 0;
        right: 0;
        width: 100vw;
        flex-direction: column;
        z-index: -1;
        height: 100;
        transform: translateY(-100%);
    }
    .list_menu.mode-mobile a
    {
        display: block;
        opacity: 1;
        /* width: max-content; */
        transform: translateX(0);
        text-align: center;
        /* transition:  transform 1s;
        transition:  opacity 1s; */
        transition-property:  transform, opacity;
        transition-duration: .7s;
        /* width:0; */
    }
    .item_menu.have_list
{
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    transition: .75s ;
    /* display: inline-flex;
    justify-content: center; */
}
.list_menu.mode-mobile .item_menu::after
{
    content: ' ';
    width: 0%;
    height: 1px;
    display: block;
    background-color: #000;
    transition: .25s ease;
    z-index: 3;
    margin: 0 auto;
}
.list_menu.mode-mobile .item_menu:hover 
{
    background-color: #fff;

}
.list_menu.mode-mobile .item_menu:hover a, .list_menu.mode-mobile .item_menu:hover 
{
    color: #000 !important;
}

.list_menu.mode-mobile .item_menu:hover::after
{
    width: 100%;
}
.logo_brand.hide
{
    display: none;
}
.item_menu.no_list:nth-child(1)
{
    margin-top: 3.25rem;
}
}
@media(max-height: 360px)
{
    .list_menu.mode-mobile:nth-child(1)
    {
        margin-top: 36px;
    }

}
.content_menuItem
{
    /* display: none; */
    /* position: relative; */
    top: 122px;
    width: 100vw;
    
    background-color: #fff;
    /* transition-delay: 1s; */
    background-color: #fff;
    /* transition:  all .7s linear;  */
    /* transform:translateX(-70%); */
    /* ,scale(0); */
    /* transform: scaleX(0); */
    height: 0;
}
.menu_btn.is_active 
{
    color: #0ae6fb;
}
.menu_btn.is_active::after
{
    transform: rotate(45deg);
    /* z-index: 99999; */
}
.menu_btn.is_active::before
{
    transform: rotate(-45deg);
    /* z-index: 999999999; */
    
}
@keyframes animate
{
    from 
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}
/* .logo_gif
{
    display: none;
    width: 80px;
    height: 80px;
    z-index: -1;
} */
.item_menu.have_list.open div
{
    width: 100% !important;
    transition: .75s ease-in-out;
}
.list_dropdown
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.item_contentMenu
{
    display: flex;
    flex-direction: column;
    height: 0;
}
.item_Animals .select
{
    display: flex;


    flex-direction: column;
    /* align-content: space-between; */
    align-items: center;
    /* justify-content: space-evenly; */

}
.item_contentMenu a h3
{
    color: black;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    transition: .25s;
    font-weight: bold;
}
.item_Animals a h3:hover
{
    font-style: italic;
}
.item_Animals .select a
{
    color: black;
    font-style: italic;
    font-family: monospace;
    text-transform: uppercase;
}
.item_Animals .select a:hover
{
    font-style: normal;
    color: black !important;
}
.select
{
    display: flex;
    flex-direction: column;
}
.item_Animals .select a
{
    margin-bottom: 10px ;
}
.item_contentMenu
{
    opacity: 0;
    transform: scale(0);

    transition-duration:.5s ;
    transition-property:transform, opacity ;
    height: 0;
}
.content_menuItem.is-active .list_dropdown .item_is-active
{
    transform:scale(1);
    opacity: 1;
    height: max-content;

}

.item_Animals .select a, .item_Legendary_Animals a, .item_contentMenu a 
{
    opacity: 0;
    transform: translateX(-200px);
    /* transform: scale(0); */
    visibility: hidden;
    transition-duration:.5s ;
    transition-timing-function: ease-out;
    transition-property:transform, opacity, scale;
    animation: animate_h3;
    height: 0;
}
.content_menuItem.is-active .list_dropdown .item_contentMenu a
{
    display: flex;
    justify-content: center;
}
.content_menuItem.is-active .list_dropdown .item_contentMenu a h3
{
    border: 1px solid;
    padding: 0 10px;
    border-radius: 15px;
    margin-bottom: 10px;
    width: max-content;
    font-size: 18px;
}
.content_menuItem.is-active .list_dropdown .item_contentMenu:hover a h3
{
    color: white;
    background-color: black;
}
.content_menuItem.is-active .list_dropdown .item_Animals .select a, .content_menuItem.is-active .list_dropdown .item_contentMenu a
{
    /* transform: scale(1); */
    transform: translateX(0);
    opacity: 1;
    height: max-content;
    visibility: visible;
    
}
@keyframes animate_h3
{
    0%
    {
        font-style: italic;
    } 
    100%
    {
        font-style: normal;
    }
}
.img_Legendary_Animals img
{

    height: 90px;
    border-radius: 4px;
    margin-top: 20px;
    transition: .25s;
}
.item_Animals
{
    opacity: 0 ;
    transform: scale(0) ;
}
.item_Legendary_Animals
{
    opacity: 0;
    transform: scale(0);
}
.item_Extinct_Animals
{
    opacity: 0;
    transform: scale(0);
    /* height:max-content; */
}
.btn_exit_content_menuItem
{


    background: linear-gradient(125deg,rgb(10,243,251),blue);
    color: #fff;
    transform: scale(0);
    transform:  translateX(-200%);
    cursor: pointer;
    font-family: monospace;
    transition-property:  transform;
    transition-delay: .25s;
    transition-duration: .35s;
    transition-timing-function:linear;
}
.btn_exit_content_menuItem.btn_is-active
{
    width: max-content;
    padding: 5px;
    margin:20px 10px;
    height: 20px;
    transform: translateX(0);
    transform: scale(1);
    box-sizing: unset;
}
@media(max-width: 410px)
{
    .content_menuItem.is-active .list_dropdown.list_Animals
    {
        position: absolute;
        top: 50px;
        flex-direction: column;
        flex-wrap: nowrap;
        overflow-y: scroll;
    }
    .logo_brand
    {
        text-align: right;
        padding-right: 45px;
    }
    .content_menuItem.is-active .list_dropdown.list_Extinct_Animals
    {
        position:absolute;
        top: 50px;
        flex-direction: column;
        flex-wrap: nowrap;
        overflow-y: scroll;
        align-items: center;
    }
    .content_menuItem.is-active .list_dropdown.list_Animals .item_Animals:nth-child(1)
    {
        flex: 1;
    }
    .content_menuItem.is-active
    {
        height: 100vh;
        overflow-y: scroll;
    }
}

.item_Search_Animals
{
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 999999;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transform: scale(0);
    transform: translateX(+100%);
    position: fixed;
    top: 0;
    left: 0;
    transition-property: transform, opacity;
    transition-duration: .3s,.2s;
}
.item_Search_Animals.is-active
{
    opacity: 1;
    transform: scale(1);
    transform: translateX(0%);
    overflow-y: auto;
}
.item_Search_Animals .container_search
{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}
.item_Search_Animals .container_search .btn_search a i,.item_Search_Animals .container_search .btn_search_close a i
{
    font-size: 18px;
    vertical-align: middle;
    color: #000;
}
.item_Search_Animals .container_search .btn_search a:hover,.item_Search_Animals .container_search .btn_search_close a:hover
{
    color: #000 !important;
    transform: scale(1.2) !important;
}
/* .item_Search_Animals .container_search .btn_search, .item_Search_Animals .container_search .btn_search_close
{
    cursor: pointer;
} */
.item_Search_Animals .container_search .btn_search:hover, .item_Search_Animals .container_search .btn_search_close:hover
{
    transform: scale(1.2) !important;
}
.item_Search_Animals .input_search
{
    padding: 0 10px;   
    width: 80%;
    
}
.item_Search_Animals .input_search input
{
    border: 2px solid black;
    width: 100%;
    border-radius: 4px;

}
@media(max-width: 550px)
{
    .item_Search_Animals .input_search input
    {
        margin-right: 10px;
        /* width: 85vw; */
    }
    .item_Search_Animals .container_search 
    {
        margin:0 10px;
    }

}
.container_result
{
    display: flex;
    justify-content:center;
    flex-wrap:wrap;
    /* width: 100%;
    height: 0; */
    transform: scaleX(0);
    
}
.container_result.is-active
{
    transform:scaleX(1);
}
 .container_result .info_animals_search
{
    display: flex;
    justify-content:center;
    width: 80%;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    position: relative;
    border-radius: 2px;
    transition: .5s;
}
.container_result .info_animals_search:hover
{
    padding-bottom: 60px;
}
.container_result .info_animals_search label
{
    font-family: monospace;
    width: max-content;
}
.container_result .info_animals_search .img-animals_search img
{
    width: 120px;
    height: 120px;
}
.container_result .info_animals_search .img-animals_search
{
    /* flex: 1; */
    width: 120px;
    height: 120px;
}
.container_result .info_animals_search .short_info_animal_search
{
    /* flex: 2; */
    display: flex;
    /* justify-content: space-evenly; */
    /* flex-wrap: nowrap; */
    flex-direction:row;
    width: 100vw;
    margin-left: 10px;
    
}
.container_result .info_animals_search::after
{
    position: absolute;
    content: 'Read more';
    display: block;
    height: max-content;
    bottom: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    /* background: linear-gradient(125deg,rgb(10,243,251),blue); */
    background-color: #000;
    align-items: center;
    transition: .5s;
    opacity: 0;
    color: #fff;
    font-family: monospace;
    transform: translateY(-100%);
    padding: 10px;
    cursor: pointer;
}

.container_result .info_animals_search:hover::after
{

    opacity: 1;
    transform: translateY(0);
}

@media(max-width: 890px)
{
    .container_result .info_animals_search
    {
        width: 70%;
        padding-bottom: 50px;
        flex-direction: column;
        
    }
    .container_result .info_animals_search:hover
    {
        padding-bottom: 50px;
    }
    .short_info_animal_search
    {
        overflow-y: auto;
    flex-direction: column-reverse!important;
    height: max-content;
    border: 1px solid grey;
    border-radius: 2px;
    width: 100% !important;
    margin-left: 0 !important;
    align-content: space-between;
    margin-bottom: 10px;
    /* scroll-top:0; */
    
    }
    .container_result .info_animals_search::after
    {
        opacity: 1;
        transform: translateY(0%);
        /* right:50%;
        transform: translateX(50%); */


    }
    .container_result .info_animals_search .img-animals_search 
    {
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
    }
    .container_result .info_animals_search .img-animals_search img
{
    width: 100%;
    height: 100%;
}
}
@media(max-width: 700px)
{
    .container_result
    {
        justify-content: center;
    }
    .container_result .info_animals_search
    {
        width: 80vw;
    }
}
@media (max-width:490px) {
    .container_result .info_animals_search .short_info_animal_search
    {
        flex: 1;
    }
    .container_result .info_animals_search
    {
        height: max-content;
    }
}
.info_animals_search .short_info_animal_search .slide_short_info .title_name_animal
{
    font-weight: bold;
    font-size: 20px;
    font-family: monospace;
}
.info_animals_search .short_info_animal_search .slide_short_info
{
    font-style: italic;
    text-align: justify;
    flex: 1;
}
.info_animals_search .short_info_animal_search .slide_short_info table
{
    width: 100%;
}
.info_animals_search .short_info_animal_search .slide_short_info table tr
{
    border-bottom: 1px solid;
}
.info_animals_search .short_info_animal_search .slide_short_info table td
{
    text-align: right;
    padding-right: 10px;
}
.intro_short_animal_search
{
    flex: 2 !important;
    margin-right: 20px;
}
.container_logo_brand 
{
    background-color: transparent;
}

@media(max-width:320px)
{
    .container_logo_brand img
    {
        display: block !important;
        height: 3.5rem !important;
        z-index: -1;
        justify-self: center;
        object-fit: fill;
        /* position: absolute;
        right: 10px; */
    }
    .container_logo_brand
    {
        justify-content: space-evenly;
    }
    .logo_brand 
    {
        display: none;
    }
}
.container_logo_brand img.hide
{
    display: none;
}
/* .item_Search_Animals .input_search  */
/* .item_Search_Animals . */