body {
  background-color: black !important;
}


#web {
    margin-top: 100px;
    width: 100%;
    height: 100vh;
    /* background-color: red; */
    display: flex;
    flex: wrap;
    justify-content: center;
    align-items: center;
    

}


*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .swiper-container {
    width: 100%;
    height: 75vh;
    transition: opacity .6s ease;
  }

  .swiper-container.swiper-container-coverflow {
    padding-top: 2%;
  }


 
  .swiper-slide .content {
    background-color: rgba(62, 62, 62, 0.421);
    position: absolute;
    top: 40%;
    left: 0;
    width: 60%;
    height: 60%;
    padding-left: 5%;
    color: #fff;

  }
  .swiper-slide .content .title {
    font-size: 2.6em;
    font-weight: bold;
    margin-bottom: 30px;
  }
  .swiper-slide .content .caption {
    display: block;
    font-size: 13px;
    line-height: 1.4;
  }
  
  .dinosaur1 {
    background-image: url("../Picture_Dinosaur/3dSlidePicture/Brachiosaurus.jpg");
  }
  .dinosaur2 {
    background-image: url("../Picture_Dinosaur/3dSlidePicture/Diplodocus.jpg");
  }
  .dinosaur3 {
    background-image: url("../Picture_Dinosaur/3dSlidePicture/Iguanodon.jpg");
  }
  .dinosaur4 {
    background-image: url("../Picture_Dinosaur/3dSlidePicture/Spinosaurus.jpg");
  }
  .dinosaur5 {
    background-image: url("../Picture_Dinosaur/3dSlidePicture/Stegosaurus.jpg");
  }
  .dinosaur6 {
    background-image: url("../Picture_Dinosaur/3dSlidePicture/T-Rex.jpg");
  }
  .dinosaur7 {
    background-image: url("../Picture_Dinosaur/3dSlidePicture/Triceratops.jpg");
  }
  

  .swiper-slide {
    
    
    height: 50vh !important;
   
   
    background-position: bottom;
    background-size: cover;

    box-shadow: 1px 3px 3px rgba(0,0,0,0.2);

}

.swiper-slide::after {
    content: "";
    background-image: inherit;
    background-position: bottom;
    background-size: cover;
    width: inherit;
    height:40%;
    position: absolute;
    bottom: -41%;
    transform: scaleY(-1);
    opacity: 0.4;

}



.swiper-slide::before {
    content: "";
    width: inherit;
    height: 42%;
    position: absolute;
    bottom: -42%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgb(0, 0, 0));
    z-index: 1;
}

@media (max-width: 1460px) {

  .swiper-slide .content .title {
    font-size: 30px;
  }
}
@media (max-width: 1130px) {

  .swiper-slide .content .title {
    font-size: 25px;
  }

  .swiper-slide .content {
    background-color: rgba(62, 62, 62, 0.421);
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    height: 60%;
    padding-left: 5%;
    color: #fff;

  }

}

@media (max-width: 500px) {

  .swiper-slide .content .title {
    font-size: 20px;
  }

}












#web .display_dinosaur {

  background-image: url('');
  background-repeat: no-repeat;
  background-size: 100% 100%;

  position: fixed;
  top: 5vh;
  left: 5%;
  width: 90%;
  height: 90vh;
  background-color: rgba(0, 0, 0, 0.911);
  z-index: 10;
  display: none;
  transform: scale(0.1);
  transition: all 1s ease-in-out;

  border: 2px solid black;
  box-shadow: 0px 0px 30px black, 0px 0px 30px black, 0px 0px 30px black;
  z-index: 999;
  
}

#web .display_dinosaur i {
  color: red;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 40px;
  z-index: 9999;
  text-shadow: 0px 0px 30px red;
}

#web .display_dinosaur model-viewer {
  margin-left: auto;
  margin-right: auto;

  width: 100%;
  height: 100%;
}


.sketchfab-embed-wrapper {
  width: 100%;
  height: 100%;
}

.sketchfab-embed-wrapper iframe {
  width: 100%;
  height: 100%;
}




